.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-control {
    margin-bottom: 10px;
    padding: 10px;
    max-width: 500px; /* Limits the width of the input field */
    border: 1px solid black;
  }
  
  .create {
    background-color: #5cb85c; /* Set background color */
    color: #fff; /* Set text color */
    padding: 10px 20px; /* Add padding for better appearance */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 4px; /* Add border radius for rounded corners */
    border: none; /* Remove default border */
    margin-left: 50px;
    margin-top: 20px;
  }
  
  .alert {
    width: 100%;
    max-width: 400px; /* Limits the width of the alert message */
    margin-bottom: 20px;
    text-align: center; /* Center-align the text inside the alert */
  }
  