.container {
    display: flex;
    flex-direction: column; /* Stack items vertically on mobile */
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.link {
    display: flex !important;
    font-size: large !important; /* Adjust font size for better readability on mobile */
    font-weight: bold !important;
    height: 150px; /* Decrease height for better spacing on mobile */
    width: 80%; /* Adjust width for better fit on mobile screens */
    max-width: 300px; /* Limit maximum width for larger screens */
    justify-content: center;
    align-items: center;
    margin: 10px; /* Add some margin for better separation between links */
}
