/* NavBar.module.css */

.navbar {
  background-color: #f0f0f0; /* Light grey */
}

.navbar-brand {
  color: #333; /* Dark grey */
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #333; /* Dark grey */
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 991px) {
  .navbar-nav {
    display: none; /* Hide navbar links by default */
    padding: 10px;
  }

  .nav-item {
    margin-bottom: 10px;
  }
}
